train/
test/
scoring/
tmp/
.DS_Store
src/jlb_m1/results/
src/jlb_m2/results/
src/xgboost/
Rplots.pdf
.Rhistory
src/pipeline_cache/
src/pipeline_files/
singularity/

src/jlb_m2/SB2_2/
src/gacox_m3/SB2_3/

src/refining/SB2_refining/

*.zip
*.tar.gz
*.sif


SB2_1/
SB2_2/
SB2_3/
SB2_4/
SB2_5/
