train/
test/
tmp/
.DS_Store
src/jlb_m1/results/
src/jlb_m2/results/
src/xgboost/
Rplots.pdf
.Rhistory
src/pipeline_cache/
src/pipeline_files/
singularity/

src/jlb_m2/SB2_2/
src/gacox_m3/SB2_3/

*.zip
*.tar.gz
*.sif
